@import "config";
@import "abbreviate";

// -----------------------------------------------------------------------------
.#{$_ul-prefix}- { // -> Open prefix
// -----------------------------------------------------------------------------


// Color
//------------------------------------------------------------------------------
@each $key, $val in $ul-colors {

  &#{_ul-sel("color", $key)} {
    color: $val !important;
  }
}

@each $key, $val in $ul-opacities {
  $key: _ul-abbr($key);

  &opacity--#{$key} {
    opacity: $val !important;
  }
}


// Background and border
// -----------------------------------------------------------------------------
@each $key, $val in $ul-colors {

  &color--#{$key} {
    color: $val !important;
  }
}



// -----------------------------------------------------------------------------
} // -> Close prefix
// -----------------------------------------------------------------------------
